/* Resetowanie stylów i ogólna stylizacja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0A9AB;
    color: #333;
}

header {
    background-color: #E83151;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Rozłożenie kafelków */
    gap: 20px;
    padding: 20px;
}

.item {
    flex: 0 0 calc(33.33% - 20px); /* Trzy kafelki na szerokim ekranie (odstęp między kafelkami wynosi 20px) */
    background-color: #F3E1DD;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item h3 {
    font-size: 20px;
    margin: 10px 0;
}

.item p {
    font-size: 14px;
    color: #666;
}


@media (max-width: 768px) {
    .item {
        flex: 0 0 calc(50% - 20px); /* Dwa kafelki na mniejszym ekranie (odstęp między kafelkami wynosi 20px) */
    }
}

@media (max-width: 480px) {
    .item {
        flex: 0 0 calc(100% - 20px); /* Jeden kafelek na najmniejszych ekranach, zajmuje całą szerokość (odstęp między kafelkami wynosi 20px) */
    }
}
